.inicio{
    display: grid;
    grid-template-areas: "unico";
    height: 90vh;
    width: 100vw;
    justify-items: center;
}

.inicio > * {
    grid-area: unico;
}

.inicio img{
    z-index: 1;
    height: 90vh;
    width: 100vw;
    object-fit: cover;
}

.inicio div{
    z-index: 2;
    background-color: black;
    opacity: 0.6;
    height: 90vh;
    width: 100vw;
}

.inicio article{
    display: grid;
    z-index: 3;
    align-self: center;   
    color: white;
    justify-items: center;
    width: fit-content;
}

.inicio article p{
    text-align: center;
    font-size: 1.5em;
}


.inicio article h1{
    font-size: 5em;
    text-align: center;
    margin-bottom: 10vh;
}

.eventos{
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

.eventos article{
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
}

.eventos article > * {
    margin: 1vh 0;
}

.eventos article h3{
    font-size: 2em;
    font-weight: normal;
}

.eventos article i{
    padding: 6%;
    font-size: 2.5em;
    color: white;
    border-radius: 100%;
    background-color: #C2A14D;
}

.eventos article p{
    text-align: center;
}


.doblado{
    height: 50vh;
    background-color: #F3E8D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doblado .texto{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-right: 5vw;
}

.doblado .texto > *{
    margin: 2vh 0;
}

.doblado .texto h2{
    font-size: 2.5em;
}

em{
    font-style: normal;
    color: #5D3A1A;
}

.doblado .foto{
    display: grid;
    grid-template-areas: "unica";
}

.doblado .foto img{
    grid-area: unica;
    height: 35vh;
    object-fit: cover;
    width: 25vw;
    z-index: 2;
    border-radius: 10px;
}

.doblado .foto div{
    height: 35vh;
    width: 25vw;
    grid-area: unica;
    background-color: darkgray;
    transform: rotate(-8deg);
    border-radius: 10px;
}

.repor{
    display: grid;
    grid-template-columns: 14vw 14vw 37vw;
    grid-template-rows: 10vh 9vh repeat(8,6vh);
    height: 75vh;
    margin: 5vh auto;
    justify-content: center;
}

.repor .ini{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 1/3;
    justify-content: center;
    text-align: center;
}

.repor .peque{
    grid-column: 3/4;
    grid-row: 3/5;
    color: #5D3A1A;
    background-color: #F3E8D8;
    border-radius: 20px;
    padding: 1em;
    border: #5D3A1A solid 1px;
}

.repor .grande{
    margin-top: 1vh;
    grid-column: 3/4;
    grid-row: 5/11;
    padding: 1em;
    border: #5D3A1A solid 1px;
    background-color: #fdf9f2;
    border-radius: 20px;
}

.repor .grande p{
    margin: 2vh 0px;
}

.repor .peque p{
    margin: 0.5vh;
}

.repor img{
    object-fit: cover;
    height: 18vh;
    width: 12vw;
    border-radius: 20px;
}
.repor img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 3/6;
}

.repor img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 4/7;
}

.repor img:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 7/10;
}

.repor img:nth-of-type(4){
    grid-column: 2/3;
    grid-row: 8/11;
}

.repor .ini h5{
    font-weight: 100;
    color: #5D3A1A;
}

.repor .ini h2{
    margin: 1vh;
    font-size: 2em;
}

.repor .ini p{
    width: 30vw;
    margin: auto;
}

