@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?drtj40');
  src:  url('../fonts/icomoon.eot?drtj40#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?drtj40') format('truetype'),
    url('../fonts/icomoon.woff?drtj40') format('woff'),
    url('../fonts/icomoon.svg?drtj40#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camara:before {
  content: "\e900";
}
.icon-regalo:before {
  content: "\e901";
}
.icon-camino:before {
  content: "\e902";
}
.icon-marcador:before {
  content: "\e903";
}
.icon-torre:before {
  content: "\e904";
}
.icon-montana:before {
  content: "\e905";
}
.icon-agua:before {
  content: "\e906";
}
.icon-castillo:before {
  content: "\e907";
}
.icon-reunion:before {
  content: "\e908";
}
.icon-usuarios:before {
  content: "\e909";
}
.icon-cerebro:before {
  content: "\e90a";
}
.icon-camion:before {
  content: "\e90b";
}
.icon-escudo:before {
  content: "\e90c";
}
.icon-documento:before {
  content: "\e90d";
}
.icon-corazon:before {
  content: "\e90e";
}
.icon-jeringuilla:before {
  content: "\e90f";
}
.icon-pulso:before {
  content: "\e910";
}
.icon-caballo:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-telefono:before {
  content: "\e914";
}
.icon-sobre:before {
  content: "\e915";
}
