.inicio{
    height: 90vh;
    display: grid;
    grid-template-areas: "capa-unica";
}

.inicio > *{
    grid-area: capa-unica;
}

.inicio img{
    height: 90vh;
    width: 100vw;
    z-index: 1;
}

.inicio div{
    height: 90vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    opacity: 0.6;
}

.inicio h1{
    z-index: 3;
    color: white;
    font-size: 8rem;
    align-self: center;
    justify-self: center;
}

.texto{
    margin: 5vh 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    text-align: center;
    padding: 1vh;
    width: 70vw;
}


.entradas {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2vh 0px;
}

.entradas a{
    display: grid;
    grid-template-columns: "capa-unica";
    height: 30vh;
    width: 25vw;

}

.entradas a > *{
    grid-area: capa-unica;
    border-radius: 20px;

}

.entradas a img{
    height: 30vh;
    width: 25vw;
    z-index: 1;
}

.entradas a h3{
    color: white;
    text-decoration: none;
    z-index: 3;
    padding: 20px;
    margin: 0 1vw;
    align-self: flex-end;
    transition: all 0.3s ease-in;
}

.entradas a div{
    background-color: #5D3A1A;
    height: 7vh;
    z-index: 2;
    align-self: flex-end;
    opacity: 0.8;
    transition: 0.3s ease-in;
}

.entradas a p{
    z-index: 3;
    opacity: 0;
    justify-self: center;
    align-self: center;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in;
    margin: 1vh 2vw;
}

.entradas a:hover div{
    height: 30vh;
}

.entradas a:hover h3{
    transform: translateY(-23vh);
}

.entradas a:hover p{
    opacity: 1;
    transition-delay: 0.3s;
}


@media (max-width: 768px) {
    .inicio,
    .inicio img,
    .inicio div {
      height: 70vh;
    }
  
    .inicio h1 {
      font-size: 3.5rem;
      text-align: center;
      padding: 0 1rem;
    }
  }
  
  
  .texto {
    height: auto;
    padding: 2rem 1rem;
  }
  
  .texto h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .texto p {
    width: min(90%, 900px);
    line-height: 1.6;
    font-size: 1rem;
  }
  
  
  .entradas a {
    max-width: 420px;
  }
  
  .entradas a img {
    object-fit: cover;
  }
  
  @media (max-width: 1024px) {
    .entradas {
      grid-template-columns: repeat(2, 1fr);
      gap: 3vh 2vw;
    }
  
    .entradas a {
      width: 42vw;
      height: 28vh;
    }
  
    .entradas a img {
      width: 42vw;
      height: 28vh;
    }
  }
  
  @media (max-width: 640px) {
    .entradas {
      grid-template-columns: 1fr;
      margin: 4vh 0;
    }
  
    .entradas a {
      width: 90vw;
      height: 32vh;
    }
  
    .entradas a img {
      width: 90vw;
      height: 32vh;
    }
  
    .entradas a h3 {
      font-size: 1.2rem;
      text-align: center;
      padding: 1rem;
    }
  
    .entradas a:hover h3 {
      transform: none;
    }
  
    .entradas a div {
      height: 8vh;
    }
  
    .entradas a:hover div {
      height: 8vh;
    }
  
    .entradas a p {
      display: none;
    }
  }
