.inicio{
    height: 90vh;
    display: grid;
    grid-template-areas: "capa-unica";
}

.inicio > *{
    grid-area: capa-unica;
}

.inicio img{
    height: 90vh;
    width: 100vw;
    z-index: 1;
}

.inicio div{
    height: 90vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    opacity: 0.6;
}

.inicio h1{
    z-index: 3;
    color: white;
    font-size: 8rem;
    align-self: center;
    justify-self: center;
}

.texto{
    margin: 5vh 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    text-align: center;
    padding: 1vh;
    width: 70vw;
}


.entradas {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2vh 0px;
}

.entradas a{
    display: grid;
    grid-template-columns: "capa-unica";
    height: 30vh;
    width: 25vw;

}

.entradas a > *{
    grid-area: capa-unica;
    border-radius: 20px;

}

.entradas a img{
    height: 30vh;
    width: 25vw;
    z-index: 1;
}

.entradas a h3{
    color: white;
    text-decoration: none;
    z-index: 3;
    padding: 20px;
    margin: 0 1vw;
    align-self: flex-end;
    transition: all 0.3s ease-in;
}

.entradas a div{
    background-color: #5D3A1A;
    height: 7vh;
    z-index: 2;
    align-self: flex-end;
    opacity: 0.8;
    transition: 0.3s ease-in;
}

.entradas a p{
    z-index: 3;
    opacity: 0;
    justify-self: center;
    align-self: center;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in;
    margin: 1vh 2vw;
}

.entradas a:hover div{
    height: 30vh;
}

.entradas a:hover h3{
    transform: translateY(-23vh);
}

.entradas a:hover p{
    opacity: 1;
    transition-delay: 0.3s;
}

