* {
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    width: 100vw;
    background-color: #5D3A1A;
}

nav{
    display: flex;
    align-self: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    height: 100%;
    width: 100%;
    list-style: none;
}

.menu li{
    height: 100%;
}

.menu a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3vw;
    text-decoration: none;
    color: white;
    position: relative;
    transition: background-color 0.5s ease;
}

.menu a:hover{
    background-color: #3A240F;
    transition: background-color 0.5s ease;

}

header img{
    height: 8vh;
}


footer{
    height: 25vh;
    width: 100vw;
    display: flex;
    background-color: #5D3A1A;
    color: white;

}

footer section{
    width: 33vw;
}

footer .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}

footer .logo img{
    height: 18vh;
}

footer .enlaces{
    padding: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: relative;

}

footer .enlaces article{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    row-gap: 2vh;
}

footer .enlaces .copy{
    grid-column: 1/3;
    position: absolute;
    bottom: 2px;
}

footer .contacto{
    padding: 2vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    row-gap: 0px;
    position: relative;

}

footer .contacto h2{
    grid-column: 1/3;
}

footer .contacto .flat{
    font-size: 10px;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

footer .contacto .flat a{
    color: white;
    text-decoration: none;
}
