.inicio{
    display: grid;
    grid-template-areas: "unico";
    height: 90vh;
    width: 100vw;
    justify-items: center;
}

.inicio > * {
    grid-area: unico;
}

.inicio img{
    z-index: 1;
    height: 90vh;
    width: 100vw;
    object-fit: cover;
}

.inicio div{
    z-index: 2;
    background-color: black;
    opacity: 0.6;
    height: 90vh;
    width: 100vw;
}

.inicio article{
    display: grid;
    z-index: 3;
    align-self: center;   
    color: white;
    justify-items: center;
    width: fit-content;
}

.inicio article h4{
    padding: 5px;
    font-size: 1em;
    background-color: #C2A14D;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 5vh;
}

.inicio article h1{
    font-size: 4em;
    width: 60vw;
    text-align: center;
}

.inicio article h1 em{
    color: #C2A14D;
}

.inicio article p{
    margin-top: 5vh;
    width: 60vw;
    text-align: center;
}

.historia{
    display: flex;
    margin: 5vh 0;
    justify-content: center;
}

.historia img{
    height: 45vh;
    width: 30vw;
    border-radius: 20px;
    margin-left: 3vh;
}

.historia article{
    height: 50vh;
    width: 30vw;
}


.iniciador{
    background-color: #5D3A1A;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.8em;
    color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.historia article h2{
    font-size: 2.5em;
}
.historia em{
    color: #5D3A1A;
}

.historia p{
    padding: 1vh 0;
}

.protagonista{
    display: flex;
    margin: 5vh 0;
    justify-content: center;
    background-color: #F5F1EA;
    height: 60vh;
    align-items: center;
}

.protagonista img{
    height: 45vh;
    width: 30vw;
    border-radius: 20px;
    margin-right: 3vh;
}

.protagonista article{
    height: 50vh;
    width: 30vw;
}


.iniciador{
    background-color: #5D3A1A;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.8em;
    color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.protagonista article h2{
    font-size: 2.5em;
}
.protagonista em{
    color: #5D3A1A;
}

.protagonista p{
    padding: 1vh 0;
}

.protagonista .cita{
    background-color: #5D3A1A;
    border-radius: 10px;
    color: white;
    font-style: italic;
    padding-left: 10px;
    font-size: 0.9em;
    box-shadow: 2px 3px 3px 0px black;
}

.metodologia { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 2vh;      
    column-gap: 2vw;    
    width: 65vw;
    margin: 5vh 15vw;   
}

.metodologia .intro {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2vh;
}

.intro h2{
    font-size: 2em;
    margin: 2vh 0;
}

.intro h3{
    margin-top: 3vh;
    margin-bottom: 0;
}

.metodologia .areas {
    height: auto;       
    min-height: 25vh;   
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;       
}

.metodologia .areas i {
    font-size: 3em;
    background-color: #5D3A1A;
    color: white;
    width: 80px;        
    height: 80px;       
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.metodologia .areas h5{
    font-size: 1.2em;
    margin: 1vh 0;
}

.metodologia .areas p{
    text-align: center;
}

.modalidad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    margin: auto;
    justify-items: center;
}

.modalidad h2{
    font-size: 2em;
    text-align: center;
    grid-column: 1/3;
    column-gap: 10px;
    margin-bottom: 2vh;
}

.modalidades{
    width: 32vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    height: 70vh;
}

.modalidades img{
    width: 32vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.modalidades h3{
    margin: 1vh 2vw;
}

.modalidades p{
    margin: 1vh 2vw;
}
.modalidades .check{
    margin: 2vh 2vw;
}

.programa{
    margin: 15vh auto;
    height: auto;
    width: 70vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 34% repeat(3,22%) ;
    row-gap: 3vh;
}

.programa img{
    grid-column: 2/3;
    grid-row: 1/5;
    height: 65vh;
    margin: auto;
    border-radius: 20px;
}

.programa .primero  h2{
    font-size: 2.5em;
    margin: 2vh 0;
}
.programa .primero em{
    color: #5D3A1A;
}


.programa .pasos{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 30% 60%;
    height: 10vh;
    gap: 3vh;
    align-items: center;
}

.programa .pasos p:first-child{
    font-size: 1.5rem;
    background-color: #5D3A1A;
    color: white;
    width: 5rem;
    border-radius: 10px;
    text-align: center;
}

.programa .pasos p:last-child{
    grid-column: 1/3;
    padding-left: 3vw;
    border-left: #5D3A1A solid 2px;
    height: fit-content;
    margin-left: 2vw;

}

.voluntariado {
    background-color: #F5F1EA;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 45vh;
}

.voluntariado  h2{
    font-size: 2.5em;
    margin: 2vh 0;
}

.voluntariado article{
    width: 30vw;
}

.voluntariado article p:nth-last-child(2){
    margin-top: 3vh;
}

.voluntariado img{
    height: 35vh;
    border-radius: 20px;
}