<footer>
    <section class="logo">
        <img src="../media/logoB.png" alt="logo">
        <h2>Yeguada Carmen Martínez</h2>
        <p>Pasión Ecuestre</p>
    </section>
    <section class="enlaces">
        <article>
            <i class="icon-caballo"></i>
            <a href="../clases.html">Clases y formación</a>
            <i class="icon-caballo"></i>
            <a href="../">Rutas</a>
            <i class="icon-caballo"></i>
            <a href="../alojamiento.html">Alojamiento</a>
        </article>
        <article>
            <i class="icon-caballo"></i>
            <a href="">Talleres</a>
            <i class="icon-caballo"></i>
            <a href="../eventos.html">Eventos</a>
            <i class="icon-caballo"></i>
            <a href="../campamentos.html">Campamento verano</a>
        </article>
        <p class="copy"> &copy; <span id="year"></span> Yeguada Carmen Martínez · Todos los derechos reservados.</p>
    </section>
    <section class="contacto">
        <h2>Contacto</h2>
        <i class="icon-sobre"></i>
        <a href="mailto:info@yeguadacarmenmartinez.com">
            info@yeguadacarmenmartinez.com
          </a>
          
          <i class="icon-telefono"></i>
          <a href="tel:+34626229727">
            (+34) 626 229 727
          </a>
          
          <i class="icon-instagram"></i>
          <a href="https://www.instagram.com/yeguadacarmenmartinezguisado" target="_blank">
            @yeguadacarmenmartinezguisado
          </a>
          
          <i class="icon-facebook"></i>
          <a href="https://www.facebook.com/yeguadacarmenmartinezguisado" target="_blank">
            @yeguadacarmenmartinezguisado
          </a>
        <p class="flat">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> de <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
    </section>
</footer>