<footer>
    <section class="logo">
        <img src="../media/logoB.png" alt="logo">
        <h2>Yeguada Carmen Martínez</h2>
        <p>Pasión Ecuestre</p>
    </section>
    <section class="enlaces">
        <article>
            <i class="icon-caballo"></i>
            <p>Clases y formación</p>
            <i class="icon-caballo"></i>
            <p>Rutas</p>
            <i class="icon-caballo"></i>
            <p>Exámenes a galope</p>
        </article>
        <article>
            <i class="icon-caballo"></i>
            <p>Talleres</p>
            <i class="icon-caballo"></i>
            <p>Celebraciones</p>
            <i class="icon-caballo"></i>
            <p>Campamento verano</p>
        </article>
        <p class="copy"> &copy; <span id="year"></span> Yeguada Carmen Martínez · Todos los derechos reservados.</p>
    </section>
    <section class="contacto">
        <h2>Contacto</h2>
        <i class="icon-sobre"></i>
        <p>info@yeguadacarmenmartinez.com</p>
        <i class="icon-telefono"></i>
        <p>(+34) 626 229 727</p>
        <i class="icon-instagram"></i>
        <p>@yeguadacarmenmartinezguisado</p>
        <i class="icon-facebook"></i>
        <p>@yeguadacarmenmartinezguisado</p>
        <p class="flat">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> de <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
    </section>
</footer>